# Git
.git
.gitignore

# IDEs and Editors
.idea
*.iml
*.iws
.vscode
.opencode

# Gradle
.gradle
**/.gradle
build
**/build/
!fit-bridge-be/*/app-ktor/build/libs/*-all.jar
gradlew.bat

# Docker volumes
deploy/volumes/postgresql-data
deploy/volumes/opensearch-data
deploy/volumes/keycloak-data

# Log files
*.log

# System files
.DS_Store
Thumbs.db
